@import "tailwindcss";
@source "../../../vis_go_app";

@theme {
    --color-primary-50: #f0fdf4;
    --color-primary-100: #dcfce6;
    --color-primary-200: #bbf7ce;
    --color-primary-300: #85f0a8;
    --color-primary-400: #49df7b;
    --color-primary: #20bf55;
    --color-primary-600: #15a445;
    --color-primary-700: #148139;
    --color-primary-800: #166531;

    --color-secondary-50: #fcf5fd;
    --color-secondary-100: #f7e8fa;
    --color-secondary-200: #eecff5;
    --color-secondary-300: #e0a7ed;
    --color-secondary-400: #cc72de;
    --color-secondary: #7e3f8f;
    --color-secondary-600: #6b307c;
    --color-secondary-700: #572565;
    --color-secondary-800: #492153;
}