{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vis GO - Dashboard{% endblock %}</title>
    <link rel="icon" type="image/jpeg" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-zinc-900 text-slate-100">
    <header class ="p-3 border-b border-zinc-800">
        <div class="flex justify-center items-center gap-2">
            <img src="{% static 'img/logo.png' %}" alt="Vis GO Logo" class="h-10 w-10 rounded-xl shadow-lg border border-cyan-500/30"/>
        </div>
        <nav class="flex justify-end gap-x-7 mt-4">
            <a href="{% url 'index' %}" class="hover:">Home</a>
            <a href="{% url 'about' %}">About</a>
        </nav>
    </header>

    <main class="mx-auto p-8">
        {% block content %}
        {% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
</body>
</html>