{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vis GO - Dashboard{% endblock %}</title>     

    <!-- Script de Tailwind CSS v4 CDN para renderizado inmediato -->
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>
<body class="bg-zinc-900 text-slate-100">
    <header class ="p-3">
        <div class="flex justify-center">
            🤖 <span>Vis GO</span>
        </div>
        <nav class="flex justify-end gap-x-7">
            <a href="{% url 'index' %}" class="hover:">Home</a>
            <a href="{% url 'about' %}">About</a>
        </nav>
    </header>

    <main class="container mx-auto">
        {% block content %}
        {% endblock %}
    </main>

    {% block extra_js %}{% endblock %}
</body>
</html>